.hero {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;

  .heroContent {
    text-align: center;
    align-items: flex-start;
    color: #333;
    padding-top: 40px;
  }

  .rectangle {
    position: absolute;
    top: 200px;
    left: 50px;
    right: 50px;
    height: 50vh;
    background-color: rgba(255, 213, 127, 0.6);
    border-radius: 0 0 200px 200px;
    z-index: 1;
    overflow: hidden;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      transform: translateY(50px);
    }
  }

  .review {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    right: 10px;
    top: calc(50vh + 150px);
    z-index: 3;
    padding: 10px;
    border-radius: 8px;
  }

  .rating {
    display: flex;
    align-items: center;
  }

  .starIcon {
    color: #333;
    font-size: 2rem;
  }

  .reviewNumber {
    margin-left: 2px;
    font-size: 30px;
    color: #333;
    font-weight: bold;
  }

  .reviewText {
    margin-top: 3px;
    font-size: 1rem;
    color: #333;
  }
}

.heroImage {
  margin: 0;
}